*.iws
*Db.properties
*Db.script
*.log
*.tmproj
.settings
.DS_Store
stacktrace.log

/backbone/*.zip
/backbone/plugin.xml
/backbone/*DB.*
/backbone/cobertura.ser
/backbone/target/
/backbone/out/
/backbone/web-app/plugins
/backbone/web-app/WEB-INF/classes

/router/*.zip
/router/plugin.xml
/router/*DB.*
/router/cobertura.ser
/router/target/
/router/out/
/router/web-app/plugins
/router/web-app/WEB-INF/classes

/simple-merch/*.zip
/simple-merch/plugin.xml
/simple-merch/*DB.*
/simple-merch/cobertura.ser
/simple-merch/target/
/simple-merch/out/
/simple-merch/web-app/plugins
/simple-merch/web-app/WEB-INF/classes

/harness/*.zip
/harness/plugin.xml
/harness/*DB.*
/harness/cobertura.ser
/harness/target/
/harness/out/
/harness/web-app/plugins
/harness/web-app/WEB-INF/classes

/sponge/*.zip
/sponge/plugin.xml
/sponge/*DB.*
/sponge/cobertura.ser
/sponge/target/
/sponge/out/
/sponge/web-app/plugins
/sponge/web-app/WEB-INF/classes

/event-driven/*.zip
/event-driven/plugin.xml
/event-driven/*DB.*
/event-driven/cobertura.ser
/event-driven/target/
/event-driven/out/
/event-driven/web-app/plugins
/event-driven/web-app/WEB-INF/classes

/service-security-ui/*.zip
/service-security-ui/plugin.xml
/service-security-ui/*DB.*
/service-security-ui/cobertura.ser
/service-security-ui/target/
/service-security-ui/out/
/service-security-ui/web-app/plugins
/service-security-ui/web-app/WEB-INF/classes
